# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.so
*.pyd
*.egg
*.egg-info/
dist/
build/

# virtual environments
venv/
.venv/
env/

# -----------------------------
# Notebooks / dev data
# -----------------------------
dev_nbs/*


# -----------------------------
# Environment files
# -----------------------------
.env
.env.local

# -----------------------------
# Sphinx (API docs)
# -----------------------------
docs-api/_build/
docs-api/autoapi/

# -----------------------------
# Node / Docusaurus
# -----------------------------
node_modules/
npm-debug.log*

# Docusaurus internal cache (never commit)
docs-site/.docusaurus/
docs-site/.cache/


# -----------------------------
# OS / Editor
# -----------------------------
.DS_Store
Thumbs.db
.vscode/dev_nbs/
*.egg-info/
