accessible-pygments==0.0.5
aiobotocore==2.17.0
aiohttp==3.11.11
aioitertools==0.12.0
aiosignal==1.3.2
alabaster==1.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
astroid==4.1.1
attrs==24.3.0
babel==2.18.0
beautifulsoup4==4.14.3
bidsschematools==0.7.2
blessed==1.20.0
blinker==1.9.0
bottleneck==1.4.2
botocore==1.35.93
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
cryptography==44.0.0
cycler==0.11.0
dandi==0.66.3
dandischema==0.10.4
datajoint==0.14.3
dnspython==2.7.0
docstring-parser==0.16
docutils==0.22.4
elephant==1.1.1
email-validator==2.2.0
etelemetry==0.3.1
faker==36.1.1
fastapi==0.135.1
fasteners==0.19
flask==3.1.0
fqdn==1.5.1
frozenlist==1.5.0
fscacher==0.4.4
fsspec==2024.12.0
furo==2025.12.19
h11==0.16.0
h5py==3.12.1
hdmf==3.14.6
hdmf-zarr==0.9.0
httptools==0.7.1
humanize==4.11.0
idna==3.10
imagesize==2.0.0
interleave==0.2.2
isodate==0.7.2
isoduration==20.11.0
itsdangerous==2.2.0
jaraco-classes==3.4.0
jaraco-context==6.0.1
jaraco-functools==4.1.0
jeepney==0.8.0
jinja2==3.1.5
jmespath==1.0.1
joblib==1.4.2
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==25.6.0
keyrings-alt==5.0.2
lxml==6.0.1
matplotlib==3.10.0
matplotlib-inline==0.1.7
mat73==0.65
minio==7.2.15
more-itertools==10.5.0
multidict==6.1.0
natsort==8.4.0
neo==0.13.3
networkx==3.4.2
neuroconv==0.6.6
nest-asyncio==1.6.0
nibabel==5.3.2
nilearn==0.12.1
numcodecs==0.13.1
numexpr==2.10.1
numpy==1.26.4
nwbinspector==0.6.1
otumat==0.3.1
pandas==2.2.3
parse==1.20.2
probeinterface==0.2.24
propcache==0.2.1
py-cpuinfo==9.0.0
pycryptodome==3.21.0
pycryptodomex==3.21.0
pydantic==2.10.5
pydantic-core==2.27.2
pydot==3.0.4
pymysql==1.1.1
pynwb==2.8.3
pyout==0.8.0
pyparsing==3.2.0
pillow==11.0.0
pyqt==5.15.10
pyqt5-sip==12.13.0
pytables==3.10.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-multipart==0.0.22
pyyaml==6.0.2
quantities==0.15.0
referencing==0.35.1
requests==2.32.3
response-generator==0.0.1
rfc3339-validator==0.1.4
rfc3987==1.3.8
roman-numerals==4.1.0
rpds-py==0.22.3
ruamel-yaml==0.18.10
s3fs==2024.12.0
scikit-learn==1.7.1
scipy==1.15.0
seaborn==0.13.2
secretstorage==3.3.3
semantic-version==2.10.0
snowballstemmer==3.0.1
soupsieve==2.8.3
sphinx==9.1.0
sphinx-autoapi==3.8.0
sphinx-basic-ng==1.0.0b2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
spikeinterface==0.101.2
starlette==0.52.1
tenacity==9.0.0
threadpoolctl==3.5.0
tqdm==4.67.1
urllib3==2.3.0
uvicorn==0.41.0
uvloop==0.22.1
watchdog==6.0.0
watchfiles==1.1.1
webcolors==24.11.1
websockets==16.0
werkzeug==3.1.3
wrapt==1.17.0
yarl==1.18.3